.reply {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply-column:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
}

.reply-column:last-child {
  width: 88%;
  position: relative;
}

.reply-column input::placeholder {
  padding: 10px;
}

.reply-column input {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.reply-column:last-child i,
.reply-column:last-child button {
  position: absolute;
}
.reply-column:last-child > i {
  top: 16px;
  right: 50px;
}
.reply-column:last-child button {
  background-color: gold;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  top: 6px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply .reply-column:first-child,
.reply .fa-face-smile,
.reply .reply-column:last-child button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply-column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within .reply-column:last-child button {
  opacity: 0;
}

.reply:focus-within input {
  transform: translateX(-8%) translateY(-80px);
  width: 95vw;
}

.reply:focus-within {
  transform: translateY(80px);
}
