.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply-column:last-child button > i {
  opacity: 1;
}

.reply .reply-column:first-child {
  width: 10%;
}

.reply .reply-column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: 0.9px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply-column:last-child > i,
.reply-column:last-child button {
  position: absolute;
  right: 0px;
  top: 4px;
}

.reply-column:last-child > i {
  right: 37px;
  top: 16px;
}

.reply-column button {
  background-color: gold;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
}

.reply-column button:focus,
.reply-column button:active {
  outline: none;
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-13.7%) translateY(-80px);
}

.reply .reply-column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply-column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within {
  transform: translateY(80px);
}
