.account {
  padding: 0px 30px;
  padding-top: 120px;
  padding-bottom: 10px;
  display: flex;
}

.account__profile {
  width: 90px;
  height: 90px;
  border-radius: 25px;
  margin-right: 10px;
}

.account__name {
  font-size: 25px;
  display: flex;
  align-items: center;
}

.ch-status {
  margin: 0px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.5);
}
