.friends-info {
  z-index: 2;
  background-color: #f9f9fa;
  position: fixed;
  width: 100%;
  top: 10.5px;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
  text-align: center;
}

.friends-info__title {
  font-size: 35px;
  font-weight: 600;
}

.friends-info__icon {
  display: flex;
  align-items: center;
}

.friends-info__icon a {
  color: #2e363e;
}

.friends-info__icon i {
  margin-left: 15px;
}
