.nav-bar__control {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-top: 1px solid grey;
  background-color: #f9f9fa;
}

.nav-bar__icon {
  padding: 25px;
  position: relative;
}

.nav-bar__icon a {
  color: #2e363e;
}

@keyframes notification {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav-bar__notification {
  position: absolute;
  top: 10px;
  right: 15px;
}

.nav-bar__notification {
  animation: notification 3s ease-in-out infinite;
}
